@import '../utils/variables';
@import '../utils/mixins';

.tasks-container {
  text-align: center;
  padding: 10px;
  position: relative;
  overflow: auto;
  height: auto;

  h2 {
    margin-top: 20px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.tasks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 65px;
  box-sizing: border-box;
  justify-content: center;
}

.no-tasks-message {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666;
  font-style: italic;
}
