@import './variables';
@import './mixins';

.form-group {
  margin-bottom: 20px;
  text-align: left;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $border-color;
    @include border-radius(10px);
    box-sizing: border-box;
    transition: border 0.3s ease;
    outline: none;

    .file{
      align-items: center;  
    }

    &:hover,
    &:focus {
      border: 1px solid $hover-border-color !important;
    }


  }
}

.form-input.error,
.error-message {
  border: 1px solid #da736b;
  background-color: rgb(255, 241, 241);
}

.signup-signin-link {
  padding-top: 10px;
  display: block;

  a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
      color: $border-color;
    }
  }

}
