$primary-color: rgb(246, 248, 243);
$border-color: #ccc;
$hover-border-color: rgb(24, 24, 24);

$opacity-black: rgba(0, 0, 0, 0.20);
$hover-opacity-black:  rgba(0, 0, 0, 0.45);

$primary-font: 'Roboto';