@import '../utils/variables';
@import '../utils/mixins';

.header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    
    .header__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      
      .logo {
        height: 40px; 
        margin-right: 10px; 
      }

      h3 {
        color: $hover-border-color;
        font-weight: 600;
        margin: 0;
      }
    }

    .header__buttons {
      display: flex;
      align-items: center;

      .header__menu {
        display: flex;
        align-items: center;
        color: $hover-border-color;
        font-weight: 600;
        background-color: $primary-color;
        margin-left: 20px;
        padding: 10px;
        border: 1px solid $primary-color;
        outline: none;
        text-decoration: none;
  
        &:hover,
        &.active {
          border: 1px solid $hover-border-color;
          @include border-radius(10px);
        }
      }

      .header__button {
        color: $hover-border-color;
        font-weight: 600;
        background-color: $primary-color;
        margin-left: 20px;
        padding: 10px;
        border: 1px solid $primary-color;
        outline: none;
        @include border-radius(10px);
        box-shadow: 0px 0px 5px -2px $hover-border-color;
        transition: border 0.3s ease;
        text-decoration: none;
  
        &:hover {
          border: 1px solid $hover-border-color;
        }
  
        &.active {
          border: 1px solid $hover-border-color;
        }
      }
    }
}

@media (min-width: 1024px) {
  .header__buttons {
      .header__menu, .header__button {
          margin-left: 20px;
          padding: 10px;
          font-size: 16px;
      }
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__buttons {
      .header__menu, .header__button {
          margin-left: 15px;
          padding: 8px;
          font-size: 14px;
      }
  }

}

@media (max-width: 767px) {
  .header__buttons {
      .header__menu, .header__button {
          margin-left: 5px;
          padding: 4px;
          font-size: 13px;
      }
  }

}