@import '../utils/variables';
@import '../utils/mixins';

.task-card { 
  width: 100%;
  max-width: 300px;
  padding: 20px;

  background-color: $primary-color;
  @include border-radius(10px);
  @include box-shadow($hover-border-color);
  text-align: center;
  margin: 20px;

  h3 {
    margin-bottom: 15px;
  }

  img {
    max-width: 260px; 
    height: 200px;
    background-color: $primary-color;
    @include border-radius(10px);
    overflow: hidden;
    object-fit: cover;
  }

  p {
    margin: 10px 0;
  }

  a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: $primary-color;
  }
}