@import '../utils/variables';
@import '../utils/mixins';

.page-details {
    background-color: $primary-color;
    padding-bottom: 40px;

    .text {
        background-color: $hover-border-color;
        color: $primary-color;
        text-align: center;
        margin-bottom: 20px;
        height: 80%;
        padding-top: 55px;
    }

    .task-details {
        background-color: $primary-color;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;

        .task-content {
            display: flex;
            gap: 20px;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            max-width: 1200px;
        }

        .image-details {
            width: 300px; 
            height: 300px;
            padding: 10px;
            background-color: $primary-color;
            @include border-radius(10px);
            @include box-shadow($hover-border-color);
            text-align: center;
            overflow: hidden; 

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include border-radius(10px);
            }
        }

        .info-details {
            width: 800px;
            height: 300px;
            padding: 20px;
            background-color: $primary-color;
            @include border-radius(10px);
            @include box-shadow($hover-border-color);
            text-align: center;
            display: flex;
            flex-direction: column;

            h2 {
                margin-top: 0;
            }

            p {
                margin: 5px;
            }

            .task-actions {
                margin-top: auto;
            }
        }
    }

    .btns-details {
        display: flex;
        gap: 20px;
        justify-content: center;
        // margin-top: 20px;
        margin-bottom: 10px;

        button {
            padding: 10px;
            font-size: 16px;
            color: $primary-color;
            background-color: $hover-border-color;
            border: 1px solid $hover-border-color;
            @include border-radius(10px);
            cursor: pointer;
            @include transition(background-color, 0.3s, ease);

            // &:hover {
            //     background-color: darken($hover-border-color, 10%);
            // }
        }

        
    }
}
