.container-footer {
    background-color: rgb(24, 24, 24);
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%
  }
  
.text-footer {
    color: rgb(246, 248, 243);
    // font-size: 0px; 
}