@import '../styles/variables';

.container-footer {
    // background-color: rgb(24, 24, 24);
    background-color: $hover-border-color;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%
  }
  
.text-footer {
    color: $primary-color;
    // font-size: 0px; 
}