@import '../styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    
    .header__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      
      img {
        height: 40px; 
        margin-right: 10px; 
      }

      h3 {
        color: $hover-border-color;
        font-weight: 600;
        margin: 0;
      }
    }

    .header__buttons {
      display: flex;
      align-items: center;

      .header__menu {
        display: flex;
        align-items: center;
        color: $hover-border-color;
        font-weight: 600;
        background-color: $primary-color;
        margin-left: 20px;
        padding: 10px;
        border: 1px solid $primary-color;
        outline: none;
        text-decoration: none;
  
        &:hover,
        &.active {
          border: 1px solid $hover-border-color;
          border-radius: 10px;
        }
      }

      .header__button {
        color: $hover-border-color;
        font-weight: 600;
        background-color: $primary-color;
        margin-left: 20px;
        padding: 10px;
        border: 1px solid $primary-color;
        outline: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px -2px $hover-border-color;
        transition: border 0.3s ease;
        text-decoration: none;
  
        &:hover {
          border: 1px solid $hover-border-color;
        }
  
        &.active {
          border: 1px solid $hover-border-color;
        }
      }
    }
}
